{% extends "base.html" %}

{% block content %}
{{ block.super}}
{% include "search.html" %}
<!-- Banner -->
  <section id="banner">
    <h2><strong>Abgram</strong> A gallery of Wonderful Images</h2>
    <p>Brought to you by Abdullahinur</p>
  </section>
  <!-- Looping through pictures   -->
  {% for picture in pictures %}
  <!-- One -->
    <section id="one" class="wrapper special">
      <div class="inner">
        <header class="major">
          <h2>{{ picture.categories }}</h2>
        </header>
        <div class="features">
          <div class="feature">
            <i class="fa fa-diamond"></i>
            <h3>{{ picture.location }}</h3>

          </div>


        </div>
  {% empty %}
  <div class="row">
    <h2 class="text-center">There are No New Images</h2>
  </div>
  {% endfor %}

{%endblock%}
